.promo {
    background: url('../img/oranges_bg.jpg') center (center / cover) no-repeat;
    min-height: 100vh;
    width: 100%;
    position: relative;
    &__content {
        position: absolute;
        width: 50%;
        left: 50%;
        transform: translateX(-50%);
        transition-duration: 1.2s; 
        top: 30%; 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
    }
    &__title {
        font-size: 48px;
        margin-bottom: 10%;
        letter-spacing: 1px;
        color: $basic-white;
        @include text-shadow;
        @include adaptive-font(48, 25);
        h2 {
            font-family: 'Gochi Hand', cursive;
        }
    }
    &__subtitle {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 10%;
        letter-spacing: 1px;
        color: $basic-white;
        @include text-shadow;
        @include adaptive-font(20, 12);
    }
   
}
.hide {
    opacity: 0;    
}