$blue-color: rgb(97,194,229);
$nice-blue: #1299d9;
$orange-color: rgb(254,165,0);
$font-color: #555555;
$transparent-blue: rgba(97, 194, 229, 0.5);
$transparent-orange: rgba(254, 165, 0, 0.5);
$basic-white: #ffffff;